# Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_ZYBJq1Wy0sEn@ep-mute-bird-b3nvoiwi-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# SMTP Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=tarungopineni@gmail.com
SMTP_PASSWORD=nlru ybkj teys rmuz
SMTP_FROM_EMAIL=tarungopineni@gmail.com
SMTP_USE_TLS=true
SMTP_USE_SSL=false